In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import random

In [4]:
#get raw data from nyc open data
lecture_data='../week_2/311_download.csv'
homework_data='../week_2/311_download_hw.csv'
df_dl=pd.read_csv(homework_data)
#update column names to lowercase and no spaces
df_dl.columns=[x.lower().replace(' ','_') for x in df_dl.columns]
#export to excel file with only needed columns for class
df_dl[['unique_key','created_date','agency','agency_name','complaint_type','descriptor','borough']].to_excel('../week_2/311_061625_062325.xlsx',index=False)
print('done')

done

# Homework

In [10]:
df=df_dl[['unique_key','created_date','agency','agency_name','complaint_type','descriptor','borough']]

## 1) What % of all reports came from Staten Island?

In [13]:
si=len(df.loc[df.borough=='STATEN ISLAND'])
all_b=len(df)
print(si,'/',all_b,'=',round((si/all_b)*100,2),'%')

2141 / 47255 = 4.53 %

## 2) What % of all reports were for the Department of Transportation?

In [15]:
dot=len(df.loc[df.agency_name=='Department of Transportation'])
all_c=len(df)
print(dot,'/',all_c,'=',round((dot/all_c)*100,2),'%')

3717 / 47255 = 7.87 %

## 3) What % of reports from Manhattan were for the NYPD?

In [18]:
man_nypd=len(df.loc[(df.borough=='MANHATTAN')&(df.agency_name=='New York City Police Department')])
man=len(df.loc[df.borough=='MANHATTAN'])
print(man_nypd,'/',man,'=',round((man_nypd/man)*100,2),'%')

4939 / 9517 = 51.9 %

# Sample Data for Frequency Table

In [10]:
random.randint(1, 4)

5

In [17]:
df_freq=pd.DataFrame(columns=['transactionID', 'itemName'])

items=['laptop', 'mouse', 'keyboard']
count=1
for item in items:
    freq=random.randint(1, 4)
    trans=[item]*freq
    for t in trans:
        df_freq.loc[len(df_freq)]=['t'+str(count), t]
        count+=1
df_freq

   transactionID  itemName
0             t1    laptop
1             t2    laptop
2             t3    laptop
3             t4     mouse
4             t5     mouse
5             t6     mouse
6             t7     mouse
7             t8  keyboard
8             t9  keyboard
9            t10  keyboard
10           t11  keyboard

In [19]:
df_freq.groupby(['itemName']).itemName.count().reset_index(name='count')

   itemName  count
0  keyboard      4
1    laptop      3
2     mouse      4